
:root{
    --color-brand: #31261A;
    --color-brand-lite: #465929;
}
body{color: var(--color-brand);
    font-size: 18;
    font-weight: 400;
    line-height: 1.5;
}
.address {
    font-style: normal;
}
ul {list-style-type: none; font-size: 18px;
    font-weight: 400;
}


.button{
    border-radius: 8px;
        border: 2px solid var(--color-brand);
        background: var(--color-brand);
        color: aliceblue;
        cursor: pointer;
        font-weight: 600;
}
.button:hover{background-color: blue;}
.button:active{ background-color: rgb(248, 55, 97);}
.nav{color: #0f0f0f;text-decoration: none;}
.nav:hover{color: rgb(247, 244, 244);font-weight: 600; }
.maintitle{color: #FAF4EA;
    text-align: center;
 color: #819B57;
        font-family: Poppins;
        font-size: 128px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;}
.accent-title{color: #fafcf8;}

/* advantage section */
.adv-list{background-color: var(--color-brand);}
.adv-item{  font-size: 20px;
    font-weight: 300; }
.section-title{color: var(--color-brand);font-size: 64px;
    font-weight: 900;
    line-height: 1.3}

    /* tradition section */
.tradition-text span{text-transform: uppercase; color: #199908;}
.tradition-text {font-size: 18px; font-weight: 600;}

/* chief-section */
.title-chief{font-size: 40px;
    font-weight: 600;}

    /* format section */
    .format-title{
font-size: 24px;
    font-weight: 600;
    }
    .format-text{
        font-size: 14px;
            font-weight: 300;
            
    }
/* footer */
.adress-link{ var(--color-brand);
    font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        font-style: normal;
}
.adress-link:hover { var(--color-brand);
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
}
.adress-copyright{
font-size: 14px;
font-weight: 400;}